.header {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    background-color: #000000;
    min-height: 11rem;
}

.header h1 {
    font-size: 30px;
    color: #ffffff; 
    font-weight: normal;
    font-family: "Albert Sans";
}

.titleDiv{
    font-weight:normal;
    grid-column: 3 / 6;
}

.nav {
    grid-column: 13 / 15;
    display: flex;
    justify-content: space-between;
    justify-self: end;
    align-items: center;
}

.a {
    font-size: 30px;
    color: #8F8F8F;
    text-decoration: none;
    margin-left: 3rem;
    font-family: "Albert Sans"; /* Garante consistência */
    
}

@media (max-width: 1024px) {
    .header {
        grid-template-columns: 1fr; /* Muda para uma única coluna */
        grid-template-rows: auto auto; /* Cria duas linhas */
        justify-items: center; /* Centraliza os itens horizontalmente */
        text-align: center;
        padding: 1rem;
    }

    .titleDiv {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .nav {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        width: 100%;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .a {
        margin-left: 0;
    }
}

/* Ajuste para celulares */
@media (max-width: 600px) {
    .header {
        padding: 0.5rem;
    }

    .header h1 {
        font-size: 24px; /* Diminui o tamanho da fonte em telas menores */
    }

    .nav {
        flex-direction: column; /* Empilha os links em telas muito pequenas */
        gap: 0.5rem;
    }

    a {
        font-size: 24px;
        margin-left: 0;
    }
}
