.img {
    width: 40%; 
    max-width: 350px; 
    border-radius: 50%;
    border: 3px solid #8800ff;
    transition: all 0.2s ease;
}

.about h1{
    text-align: center;
}

.description{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imageSection{
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
}

.descriptionSection{
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
}


@media (max-width: 1441px) {
    .img {
        width: 75%; 
    }
}