.about{
    padding: 6rem 5.5rem;
    text-align: center;
}

.welcomeSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: justify;
}

.welcomeTextDiv{
    grid-column: 1 / 4;
}

.button1, .button2 {
    text-decoration: none; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px;
    padding: 0.7rem 2.2rem;
    cursor: pointer;
    border-radius: 15px;
    border: solid 1px #8800ff;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.button1:hover, .button2:hover {
    background-color: #8800ff;
    transform: scale(0.95); 
}

.actions{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.icon{
    background-color: #211d25;
    width: 20px;
    height: 20px;
    margin: 20px;
    border-bottom: solid 5px #a844ff;
    border-top-right-radius: 18px;
    cursor: pointer;
    transition: transform 0.2s ease; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.icon p{
    font-size: 20px;
    color: #a844ff;
    margin-bottom: 10px;
}

.iconConfig{
    width: 50%;
    background-color: #211d25;
}

.icon:hover{
    transform: scale(1.15); 
}
