
.projetosMain{
    background-color: #18141C;
    padding-bottom: 8rem;
    padding: 6rem 5.5rem;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

.projetosMain h1{
    padding: 1.4rem;
    text-align: center;
}

.projectsSection {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}

.projects {
    margin-top: 1rem !important;
    min-height: auto;
    height: auto;
    width: 95%;
}

.projetosMain {
    background-color: #18141C;
    padding-bottom: 8rem;
    padding: 6rem 5.5rem;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

.projetosMain h1 {
    padding: 1.4rem;
    text-align: center;
}

.projectsSection {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.projects {
    margin-top: 8rem;
    min-height: auto;
    height: auto;
    width: 95%;
}

/* Responsividade */
@media (max-width: 1441px) {
    .projetosMain {
        padding: 6rem 2.5rem;
    }
    .projectsSection {
        justify-content: center;
    }
    .linkDiv {
        text-align: center;
    }

    .projectsSection {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .projetosMain {
        padding: 5rem 2rem;
    }
    .projectsSection {
        justify-content: center;
    }
    .linkDiv {
        text-align: center;
    }
}

@media (max-width: 880px) {
    .projetosMain {
        padding: 4rem 1rem;
    }
    .projects {
        width: 100%;
    }
    .projectsSection {
        justify-content: center;
    }
    .linkDiv {
        text-align: center;
    }
    
}

@media (max-width: 600px) {
    .projetosMain {
        padding: 3rem 0.5rem;
    }
    .projectsSection {
        margin-top: 0;
    }
    .linkDiv {
        text-align: center;
    }
}

