h1 {
    font-family: "Albert Sans", sans-serif;
    font-size: clamp(30px, 4vw, 42px);
    color: #ffffff;
    margin: 0.5rem 0;
    background-color: transparent;
    font-weight: normal;
  }
  
  h2 {
    font-family: "Albert Sans", sans-serif;
    font-size: clamp(24px, 4vw, 34px);
    color: #ffffff;
    margin: 0.5rem 0;
    background-color: transparent;
    font-weight: normal;
  }
  
  p {
    font-family: "Albert Sans", sans-serif;
    color: rgb(197, 197, 197);
    margin-top: 0.5rem;
    background-color: transparent;
  }