h1 {
    font-family: "Albert Sans", sans-serif;
    font-size: clamp(30px, 4vw, 42px);
    color: #ffffff;
    margin: 0.5rem 0;
    background-color: transparent;
    font-weight: normal;
  }
  
  h2 {
    font-family: "Albert Sans", sans-serif;
    font-size: clamp(18px, 3vw, 24px);
    color: #ffffff;
    margin: 0.5rem 0;
    background-color: transparent;
    font-weight: normal;
  }
  
  p {
    font-family: "Albert Sans", sans-serif;
    color: #8F8F8F;
    margin-top: 0.5rem;
    background-color: transparent;
  }