*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Albert Sans"; /* ou "Albert Sans" */
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Albert Sans';font-size: 22px;
  display: grid;
}

a{
  text-decoration: none;
}
