.main{
  margin: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.videoSection{
  columns: 1 / 2;
  align-items:start;
  justify-items: center;
  padding: 2rem;
}

.projectDescription{
  justify-self: start;
  text-align: justify;
}

.description h1{
  margin-bottom: 2rem;
  font-size: 30px;
  text-align: justify;
}

.description p{
  margin-bottom: 2rem;

}

.metodology{
  justify-self: start;
  text-align: justify;
  margin-top: 0;
}

.metodology h1{
  margin-bottom: 2rem;
  font-size: 30px;
  text-align: justify;
}



.projectDescription h2{
  font-size: 26px;
  text-align: justify;
}

.description{
  columns: 2 / 3;
  align-items:center;
  justify-items: center;
  padding: 2rem;
}

.videoSection video{
  width: 100%;
  height: auto;
}