.main{
    background-color: #18141C;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 4rem;
}
.sectionImg{
    grid-column: 6/8;
}

.sectionTitle{
    grid-column: 3/5;
}