.footer{
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.title{
    text-align: center;
}

.socialMedia{
    display: flex;
}

.items img{
    width: 60px;
}


.items{
    margin: 2rem 4rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out

}
.items:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.p{
    font-size: 20px;
}